* {
    box-sizing: border-box;
}
body {
   margin: 0; 
}

    /* NAV STYLING */
nav {
    position: sticky;
    top: 0px;
    border-bottom: 5px solid black;
    align-items: center;
    background-color:orange;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    gap:2 rem;
    align-items: stretch;
}
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
.site-title {
    font-size: 2rem;
    
}

nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    padding: .25rem;
    font-size: 30px;
}

nav a:hover{
  color:blueviolet;
}

nav img {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display:flex ;
    align-items: center;
    padding: .25rem;
    height: 300px;
}

    /* STORE PAGE STYLING */

.storeInfo {
    display:flex;
    flex-direction: column;
    gap: 5rem;
    border: 10px;
}

.store {
    border:5px solid rgb(150, 147, 143);
}
.image{
    height: 70px;
    align-items: initial;
}

.shops {
    display: flex;
    justify-content: flex-start;
    border: solid;
    border-width: 10px;
    border-color: black;
}

.shoplogo {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 200px;
}

.shopInfo {
    margin-left: 15px;
    margin-top: 15px;
    text-align: start;
}

    /*   ANIMATION STYLING  */
.regcontainer{
  vertical-align: middle;
}
.registerdiv{
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  max-width: 200px;
  align-content: center;
}
.regform {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0);
  }
}

.leftside {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

.rightside {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromRight;
}

@keyframes Slide_Up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

.bottom {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 Slide_Up;
}

/* animation images */
.parent {
  position: relative;
  top: 0;
  left: 0;
}
#cheeseright {
  position: relative;
  top: 65px;
  left: 0;
  /* border: 1px solid #000000; */
}

#sliceleft {
  position: absolute;
  top: 0;
  left: 20px;
  /* border: 1px solid #000000; */
}
#toppingbottom {
  position: absolute;
  top: 100px;
  left: 30px;
  /* border: 1px solid #000000; */
}