/* IMPORTED FONTS FROM GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200&family=Kanit:wght@200;300&family=Noto+Sans:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chivo+Mono:wght@100;200&family=Kanit:wght@200;300&family=Noto+Sans:wght@200;300;400&display=swap');


* {
    box-sizing: border-box;
}
/* html {
  cursor: url(https://i.imgur.com/u8xtUhp.png), auto;
} */

a
{
    cursor: url(https://i.imgur.com/q2sjQNw.png), auto;
}

body {
   margin: 0; 
   font-family: 'Noto Sans', sans-serif;
}

    /* NAV STYLING */
nav {
    position: sticky;
    top: 0px;
    border-bottom: 20px solid black;
    background-color:orange;
    color:black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
}
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
.site-title {
    font-size: 2rem;
    
}

nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    padding: .25rem;
    font-size: 30px;
}

nav a:hover{
  color: white;
  text-shadow: white 1px 0 10px;
}

nav img {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display:flex ;
    align-items: center;
    padding: .25rem;
    height: 300px;
}

    /* Inputs Styling */
input[type=text] {
  background-color: rgb(255, 168, 5, .2);
  color: black;
  font-size: 20px;
  width: 250px;
  height: 55px;
  border-radius: 10px;
  transition: width 0.4s ease-in-out;
}

input::placeholder {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  opacity: 0.5;
  color: grey;
}

input[type=text]:focus {
  border: 4px solid rgb(255, 153, 0);
  background-color: rgb(223,56,33, .1);
  width: 100%;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: orange;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


    /* STORE PAGE STYLING */

.storeInfo {
    display:flex;
    flex-direction: column;
    gap: 5rem;
    border: 10px;
}

.store {
    border:5px solid rgb(150, 147, 143);
}
.image{
    height: 70px;
    align-items: initial;
}

.shops {
    display: flex;
    justify-content: flex-start;
    border: solid;
    border-width: 10px;
    border-color: black;
}

.shoplogo {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 200px;
}

.shopInfo {
    margin-left: 15px;
    margin-top: 15px;
    text-align: start;
}

    /*   ANIMATION STYLING  */
.regcontainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.registerForm{
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  /* opacity: .8; */
  border-radius: 10px;
  width: 350px;
  font-family: 'Noto Sans', sans-serif;
  text-shadow: white 1px 0 10px;
  color: black;
  font-size: 25px;
  padding-bottom: 50px;
}

/* .registerForm h1{
  font-family: 'Anton', sans-serif;
} */

.animation{
  z-index: -1;
}

.regform {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0);
  }
}

.leftside {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}

.rightside {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 slideInFromRight;
}

@keyframes Slide_Up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

.bottom {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 2s ease-out 0s 1 Slide_Up;
}

/* animation images */
.parent {
  position: relative;
  top: 0;
  left: 0;
}
#cheeseright {
  position: relative;
  top: 65px;
  left: 0;
  /* border: 1px solid #000000; */
}

#sliceleft {
  position: absolute;
  top: 0;
  left: 20px;
  /* border: 1px solid #000000; */
}
#toppingbottom {
  position: absolute;
  top: 100px;
  left: 30px;
  /* border: 1px solid #000000; */
}
/* 
img {
    justify-content: center;
    width: 50%;
    } */

 /* .menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    width:50%;
    align-content: center;
    

  }*/

  .menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 5px;
    border-color: rgb(203, 162, 17);
    height: auto; 
    width: auto; 
    max-width: 900px; 
    max-height: 900px;
    border-radius: 10%;
   
  }

  .foodie {
    
    border:10px;
    width:50%;
    height:50%;
  }

  .menudes {
height: 100%;
  }

  .prices {
    align-items: center;
    font-size: larger;

  }

